.contacts {
  margin-top: 20px;
}
.contacts__map {
  margin: 0 auto;
  display: block;
}

.contacts__slogan {
  margin: 0 auto;
  padding: 0 30px;

  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  text-align: center;
}

.contacts__text {
  font-size: 18px;
  line-height: 1;
  color: #283645;
}

.contacts__details {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-decoration: none;
}
