.download {
  background-color: #283645;

  color: #ffffff;
}

.download__wrapper {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.download__slogan {
  width: 270px;
  margin: 0 auto;
  padding-top: 20px;

  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.download__picture {
  display: block;
  height: 286px;
  margin-right: 50px;
  margin-top: 20px;

  text-align: center;
}

.download__button {
  width: 280px;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 17px;

  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;

  border: 3px solid #ffffff;
  border-radius: 35px;
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 32px;

  list-style: none;
}

.download__item {
  margin: 0 15px;
}

.download__details {
  background-color: #1d2631;
}

.download__text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 29px;
  margin-top: 15px;
  margin-bottom: 0;

  text-align: center;
}

.download__link {
  display: block;

  &--ios {
    width: 47px;
    height: 56px;
    background-image: url("../../img/logo-apple.svg");
    background-repeat: no-repeat;
  }

  &--android {
    width: 43px;
    height: 47px;

    background-image: url("../../img/logo-android.svg");
    background-repeat: no-repeat;
  }

  &--windows {
    width: 44px;
    height: 43px;

    background-image: url("../../img/logo-microsoft.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .download__wrapper {
    min-height: 620px;

    background: url("../../img/bg-back-tablet@1x.jpg") no-repeat cover,
    url("../../img/iphone-hand-tablet@1x.png") no-repeat contain;
  }

  .download__description {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: 120px;
  }

  .download__details {
    margin-top: 30px;

    background-color: transparent;
  }

  .download__picture {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .download__wrapper {
    position: relative;

    background-image: none;
  }

  .download {
    background-color: transparent;
  }

  .download__picture {
    position: absolute;
    bottom: 40px;
    right: 10%;

    display: block;
    height: auto;
    margin: 0;
  }

  .download__image {
    width: 560px;
    height: 650px;
  }

  .download__description {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: 120px;
    margin-top: 100px;
  }

  .download__slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .download__button {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .download__details {
    background-color: transparent;
  }
}
