.features {
  margin-top: 30px;

  background-color: #f2f2f2;
}

.features__slogan {
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #485461;
}

.features__list {
  padding: 0;
  min-width: 260px;
  margin: 0 auto;

  list-style: none;

  /*
  background-image: url(../../img/bg-triangle-white.svg);
  background-position: 0px 0px;
  background-repeat: no-repeat;*/
}

.features__item {
  margin-bottom: 27px;
}

.features__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.features__description {
  text-align: center;
  color: #283645;
}

.features__picture {
  display: none;
  margin: 0 auto;
}

.features__item:nth-child(3) img {
  display: block;
}


@media (min-width: @tablet-width) {
  .features__list:nth-child(3) {
    display: flex;
  }

  .features__list {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 320px;
    margin-left: 280px;
  }

  .features__item:nth-child(3) img {
    position: absolute;
    left: -300px;
    top: 0;

    width: 250px;
    height: 485px;
  }

  .features__slogan {
    font-size: 40px;
    line-height: 50px;
  }

  .features__slogan br:nth-of-type(2) {
    display: none;
  }

  .features__title,
  .features__description {
    text-align: left;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .features__picture {
    display: block;

    order: -1;
  }

  .features__item:nth-child(3) img {
    position: static;

    width: 157px;
    height: 320px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
  }

  .features__item:nth-child(2) .features__description {
    width: 225px;
  }

  .features__item:nth-child(2) .features__description br {
    display: none;
  }

  .features__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
  }

  .features__title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;
    text-align: center;
  }

  .features__description {
    font-size: 18px;
    line-height: inherit;
    text-align: center;
  }

  .features__slogan {
    font-size: 50px;
    line-height: 60px;
  }
}
