.features {
  overflow: hidden;
}

.features__slogan {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 40px;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: #485461;
}

.features__list {
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.features__item {
  margin-bottom: 27px;
  padding: 0 20px 0;
}

.features__item br {
  display: none;
}

.features__title {
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.features__description {
  margin: 0;

  text-align: center;
  line-height: 24px;
  color: #283645;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item:last-child .features__picture {
  display: block;
  width: 157px;
  height: 278px;
  margin: 38px auto 0;
  overflow: hidden;
}

.features__wrapper {
  position: relative;
  z-index: 0;

  padding-top: 42px;

  background-image: linear-gradient(to bottom, #ffffff 50%, #f2f2f2 50%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-color: #f2f2f2;

    transform: skewY(-6deg);
  }
}

@media (min-width: @tablet-width) {
  .features__list:nth-child(3) {
    display: flex;
  }

  .features__list {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-left: 280px;
    min-height: 430px;
  }
/*
  .features__item:nth-child(3) .features__picture {
    position: absolute;
    left: -270px;
    top: -52px;

    width: 300px;
    height: 480px;
    margin-top: 0;
  }

  .features__item:nth-child(3) .features__picture img {
    width: 270px;
    height: 483px;
  }

  .features__slogan {
    padding-top: 50px;
    margin-bottom: 72px;

    font-size: 40px;
    line-height: 48px;
  }
*/
  .features__slogan br:nth-of-type(2) {
    display: none;
  }

  .features__title,
  .features__description {
    text-align: left;
    line-height: 24px;
  }

  .features__title {
    margin-bottom: 13px;
  }

  .features__item {
    padding-left: 40px;
    margin-bottom: 18px;
  }

  .features__item:last-child {
    margin-bottom: 16px;
  }

  .features__item br {
    display: block;
  }

  .features__description {
    min-width: 308px;
  }

  .features__wrapper {
    padding-top: 30px;

    &::before {
      transform: skewY(-4deg);
    }
  }
}

@media (min-width: @desktop-width) {
  .features__item:nth-child(3) .features__picture {
    position: static;

    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .features__item:nth-child(1) .features__description {
    padding: 0 18px;
  }

  .features__item:nth-child(3) .features__picture img {
    width: 293px;
    height: 380px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .features__item:nth-child(2) .features__description br {
    display: none;
  }

  .features__item {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    width: 300px;
  }

  .features__title {
    margin: 57px auto 22px;
    width: 240px;

    font-size: 30px;
    line-height: 1;
    text-align: center;
  }

  .features__description {
    padding: 0 35px;

    font-size: 18px;
    line-height: inherit;
    text-align: center;
  }

  .features__slogan {
    padding-top: 66px;
    margin-bottom: 124px;

    font-size: 50px;
    line-height: 60px;
  }

  .features__picture {
    display: block;
    width: 300px;
    height: 300px;
    order: -1;
    overflow: hidden;
    margin-top: 0;
  }

  .features__item img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }

  .features__wrapper {
    padding: 0;
  }

  .features__item:last-child {
    margin-top: -47px;
  }
}

@media (max-width: @desktop-width - 1px) {
  .features__picture {
    display: none;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
  .features__item:last-child .features__picture {
    position: absolute;
    bottom: 0;
    right: 100%;

    width: 268px;
    height: 481px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
