.form__slogan {
  padding: 30px 11px 16px 11px;
  width: 300px;
  margin: 0 auto;

  color: #283645;
  text-align: center;
}

.form-contest__comment .form-text {
  padding-left: 0;
  padding-bottom: 9px;
}

.form-contest__fullname {
  margin-top: 12px;
}

.form-contest__achievements,
.form-contest__app {
  border: none;
}

.form-contest__app .form-text {
  padding-bottom: 10px;
}

.form-contest__app .form-contest__item {
  padding-left: 10px;
}

.form-contest__achievements-wrapper .form-text,
.form-contest__app .form-text {
  padding-left: 28px;
  padding-right: 28px;

  line-height: 20px;
  text-align: center;
}

.form-contest__fullname,
.form-contest__contacts,
.form-contest__comment {
  border: none;
}

.form-contest__review {
  min-height: 195px;
}

.form-contest fieldset {
  margin-left: auto;
  margin-right: auto;
}

.label-text,
::placeholder {
  font-size: 18px;
  color: #283645;
}

.form-contest__required {
  margin-top: 37px;
  width: 283px;

  text-align: center;
  text-transform: uppercase;
}

.form-contest__required sup {
  font-size: 90%;
  top: -0.2em;

  color: #d22856;
}

.form-contest__submit {
  width: 100%;
  margin-right: 20px;
  padding: 15px 20px;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  background-color: #2aab6d;
  border: none;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
  }
}

.form-contest__buttons {
  margin-top: 47px;

  & button:disabled {
    background-color: #e5e5e5;
  }
}

.form-contest__contacts legend {
  display: none;
}

.form-contest__specify {
  display: none;
}

.form-contest__contacts-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.form-contest__app label,
.form-contest__achievements-list label {
  position: relative;

  padding-left: 50px;
}

.form-contest__app input + label::before {
  position: absolute;
  left: -20px;
  top: -7px;

  content: "";
  width: 37px;
  height: 36px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.form-contest__app input:checked + label::after {
  position: absolute;
  left: -9px;
  bottom: 5px;

  content: "";
  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: #d22856;
}

.form-contest__app input:hover + label::before {
    border: 2px solid #283645;
  }

  .form-contest__app input:active + label::before {
    border: 2px solid #d22856;
  }

.form-contest__item {
  margin: 0 10px 16px 10px;
}

.form-page .page-footer {
  margin-top: 37px;
}

.form-contest__input {
  position: relative;

  display: block;
  width: 35px;
  height: 35px;
  order: -1;
  margin-right: 10px;

  border: 2px solid #e5e5e5;
}

.form-contest__achievements-list label {
  display: flex;
  padding-left: 0;
}

.form-contest__achievements input:checked + label span svg {
  display: block;
}

.form-contest__input {
  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.form-contest__icon-yes {
  position: absolute;
  top: 7px;
  left: 5px;
  display: none;

  fill: #d22856;
}

.form-contest input {
  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

@media (min-width: @tablet-width) {
  .form-contest__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
    margin-left: 10px;
    margin-top: 45px;
    width: 630px;
  }

  .form-contest__required {
    margin-top: 0;
    width: 196px;

    text-transform: uppercase;
  }

  .form-contest {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .form-contest__achievements {
    min-height: 565px;
  }

  .form-contest__contacts fieldset {
    padding: 30px 0 0;
  }

  .form-contest__contacts legend {
    display: block;
    margin-bottom: 45px;
    padding: 0 20px;

    text-align: center;
  }

  .form-contest__app .form-text {
    padding-bottom: 5px;
    margin-bottom: 18px;
  }

  .form-contest__app-wrapper,
  .form-contest__achievements-wrapper {
    margin: 0 auto;
  }

  .form-contest__comment .form-text {
    padding: 0 20px;

    text-align: center;
  }

  .form-contest__comment .text-field {
    padding: 15px 18px;
    width: 500px;
  }

  .form-contest__app input + label::before {
    left: -6px;
    top: -5px;
  }

  .form-contest__app input:checked + label::after {
    left: 5px;
    bottom: 4px;
  }

  .form-contest fieldset {
    margin-left: auto;
    margin-right: auto;
  }

  .form__slogan {
    width: 550px;
    margin: 0 auto;
    padding: 58px 20px;

    font-size: 18px;
  }

  .form-contest__app,
  .form-contest__achievements-wrapper {
    padding: 3px 0 30px;
  }

  .form-contest__app .form-contest__item {
    margin: 0 10px 8px 10px;
    height: 56px;
    padding: 3px 68px;
  }

  .form-contest__achievements,
  .form-contest__app,
  .form-contest__contacts,
  .form-contest__comment {
    margin-bottom: 20px;
    width: 620px;

    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }

  .form-contest__submit {
    width: 300px;
    padding: 17px 20px;
  }

  .form-contest__fullname .form-contest__item {
    display: flex;
    align-items: center;
    margin: 0 0 50px 0;
  }

  .form-contest__fullname label {
    margin-right: 18px;
    margin-left: 0;
    width: auto;
  }

  .form-contest__achievements-wrapper .form-contest__item {
    height: 52px;
    padding: 15px 58px;
    margin: 30px 0;
  }

  .form-contest__comment {
    padding: 30px 60px;
    order: 5;
    min-height: 308px;
  }

  .form-contest__fullname {
    order: 0;
    width: 620px;
    margin-top: 15px;
    margin-bottom: 55px;
    padding: 0;

    border: none;
  }

  .form-contest__achievements-wrapper {
    order: 4;
  }

  .form-contest__app {
    order: 2;
    height: 308px;
    margin-bottom: 52px;
  }

  .form-contest__contacts {
    order: 3;
    padding: 0 50px;
    height: 322px;
    margin-bottom: 50px;
  }

  .form-contest__comment textarea {
    resize: vertical;
    max-height: 80vh;
  }

  .form-contest__contacts .form-contest__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .form-contest__contacts label {
    padding: 10px 18px;

    text-align: left;
  }

  .form-contest__contacts .text-field {
    padding: 16px;
  }

  .form-contest__contacts-wrapper {
    height: 230px;
  }

  .form-contest__fullname .form-contest__item:nth-child(3) {
    margin-bottom: 0;
  }

  .form-page .page-footer {
    margin-top: 65px;
  }

  .form-contest__item-icon {
    display: block;
    margin: 0 auto;

    fill: #d22856;
  }

  .form-contest__contacts span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    display: block;
    width: 62px;
    height: 65px;
    padding-top: 20px;

    background-color: #f2f2f2;

    pointer-events: none;
  }

  .form-contest__contacts .form-contest__item > div {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .form-contest__achievements,
  .form-contest__app,
  .form-contest__contacts,
  .form-contest__comment {
    margin-bottom: 20px;

    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }

  .form-contest__required {
    width: 310px;
  }

  .form__slogan br {
    display: none;
  }

  .form-contest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  }

  .form-contest__app {
    order: 2;
    width: 433px;
    height: 312px;
  }

  .form-contest__app .form-contest__item,
  .form-contest__achievements-list .form-contest__item {
    height: 50px;
    padding: 10px 50px;
  }

  .form-contest__achievements,
  .form-contest__contacts,
  .form-contest__comment,
  .form-contest__buttons {
    width: 940px;
  }

  .form-contest__fullname {
    order: 0;
    width: 505px;
    margin-left: 0;
    margin-bottom: 51px;
  }

  .form-contest__contacts legend {
    margin-bottom: 5px;
  }

  .form-contest__contacts .form-contest__item {
    margin: 0;
    width: 371px;
  }

  .form-contest__fullname input {
    width: 100%;
    margin-right: 68px;
  }

  .form-contest__fullname .form-contest__item {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }

  .form-contest__app .form-text {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
  }

  .form-contest__app .form-contest__item {
    height: 54px;
    padding: 8px 37px;
    margin: 18px 20px 18px 45px;
  }

  .form-contest__fullname label {
    margin-right: 19px;
  }

  .form-contest__achievements {
    min-height: 241px;
  }

  .form-contest__comment {
    order: 5;
    padding: 30px 60px;
    min-height: 200px;
  }

  .form-contest__achievements-wrapper {
    order: 4;
  }

  .form-contest__contacts {
    order: 3;
    padding: 20px 20px 0;
    height: 175px;
    margin-bottom: 48px;
  }

  .form-contest__contacts input {
    width: 371px;
  }

  .form-contest__buttons {
    order: 6;
  }

  .form-contest__specify {
    display: inline;
  }

  .form__slogan {
    margin: 50px auto 25px;
    padding: 43px 17px;
    width: 796px;
  }

  .form-contest__contacts-wrapper {
    flex-direction: row;
    height: auto;
  }

  .form-contest__achievements-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-contest__achievements .form-contest__item {
    width: 300px;
    padding: 12px 0 0 50px;
  }

  .form-contest__comment .text-field {
    width: 818px;
    min-height: 150px;
  }

  .form-contest__achievements-list .form-contest__item {
    width: 300px;
    margin-bottom: 4px;

    &--selfie {
      order: 1;
    }

    &--sunburn {
      order: 4;
    }

    &--norris {
      order: 2;
    }

    &--souvenirs {
      order: 6;
    }

    &--tower {
      order: 3;
    }

    &--crush {
      order: 6;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .form__fill {
    display: none;
  }

  .form-contest__app .form-contest__item {
    padding: 22px 20px 12px 20px;
    margin-bottom: 9px;
  }

  .form-contest__achievements .form-contest__item {
    padding: 32px 19px 0;
    margin-bottom: 18px;
  }

  .form-contest__achievements-wrapper,
  .form-contest__app-wrapper {
    padding-top: 35px;
    margin-top: 17px;

    background-color: #f2f2f2;
  }

  .form-contest__achievements-wrapper {
    padding-bottom: 22px;
  }

  .form-contest__app-wrapper {
    padding-bottom: 15px;
    padding-top: 38px;
    margin-top: 20px;
  }

  .form-contest__contacts {
    margin-top: 20px;
  }

  .form-contest__contacts .form-contest__item {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .form-contest__comment {
    margin-top: 32px;
    padding: 0 20px;

    text-align: center;
  }

  .form-contest {
    margin: 0 -10px 0 -10px;
  }

  .form-contest__contacts-icon,
  .form-contest__contacts span {
    display: none;
  }
}
