.main-nav {
  background-color: #283645;

  border-top: 1px solid #000000;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;

  padding: 0;
  width: 90px;
  height: 68px;


  background-image: url("../../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: center right 19px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../../img/icon-menu-burger.svg");
  background-position: center;
}

.main-nav .site-list {
  display: block;
}

.main-nav--closed .site-list {
  display: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed {
  border-top: none;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    top: 25px;
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--closed .main-nav__toggle {
    top: 22px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav {
    background-color: transparent;
    border: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
