.main-nav {
  background-color: #283645;
}

.main-nav__toggle {
/*Временная позиция, пока нет сетки*/
  position: absolute;
  top: 28px;
  left: 284px;

  width: 24px;
  height: 24px;

  background-image: url(../../img/icon-menu-cross.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #283645;
  border: none;

  cursor: pointer;
}
