.page-footer {
  margin-top: 20px;

  background-color: #ffffff;
}

.page-footer__logo {
  width: 200px;
  height: 40px;
  padding: 30px;
}

.page-footer__logo-wrapper {
  width: 200px;
  margin: 0 auto;
}
