.photo-list {
  margin: 0;
  padding: 0;
  margin-top: 40px;

  list-style: none;
}

.photo-list__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  &--of-day {
    margin-left: -20px;
  }
}

.photo-list__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: #f2f2f2;
}

.photo__date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.photo__comment {
  font-weight: 300;
}

.photo__caption {
  padding: 10px;
}

.photo__likes {
  display: block;
  position: relative;
  padding-left: 30px;

  font-size: 12px;
  text-decoration: none;
  color: #d43560;
  text-transform: uppercase;

  &::before {
    content: url("../../img/icon-heart.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 5px;
  }
}
