.photo-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.photo-list__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;

  &--of-day {
    height: 137px;
  }
}

.photo__panorama-label {
  align-self: flex-end;
  margin: 0 0 102px;
  padding: 10px 10px 11px 16px;
  width: 140px;

  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;

  background-color: #d22856;
}

.photo > div {
  position: relative;
}

.photo-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 20px;
  min-height: 300px;
}

.photo-list__item--of-day > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.photo-list__item:first-child .photo__caption {
  padding: 20px 28px;
}

.photo__date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.photo__caption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 17px;

  line-height: 24px;
  color: #283645;

  background-color: #f2f2f2;
}

.photo__likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 121px;

  font-size: 12px;
  text-decoration: none;
  color: #d43560;
  text-transform: uppercase;
}

.photo__likes-icon {
  margin-right: 0;
  order: -1;

  fill: #d22856;
}

.photo__description {
  margin: 0 auto;
  padding: 30px 35px 48px 35px;

  text-align: center;
}

.photo__comment {
  margin-top: 0;
  margin-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
  }

  .photo-list__item {
    flex: 1 0 40%;
    padding: 0 10px;

    &--of-day {
      min-width: 620px;
      margin: 0 auto;
    }
  }

  .photo__likes::before {
    right: -3px;
  }

  .photo-list__item--of-day .photo__likes {
    order: -1;
    margin-left: auto;
    margin-top: -20px;

    & span {
      margin-right: 15px;
    }
  }

  .photo__description {
    margin-bottom: 50px;
    margin-top: 60px;
    padding: 30px 50px 26px 50px;

    font-size: 18px;
  }

  .photo__likes-icon {
    order: 2;
    margin-right: 20px;
  }

  .photo__likes {
    width: auto;
  }

  .photo-list__img--of-day {
    height: 509px;
  }

  .photo-list__item--of-day::after {
    top: 58px;
  }

  .photo-list__item:first-child .photo__caption {
    padding: 27px 26px;
  }

  .photo__panorama-label {
    margin-top: 56px;
    margin-bottom: 418px;
  }

  .photo__comment-wrapper {
    display: flex;
    flex-direction: column;

    & > div {
      order: -1;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-list__item--of-day img {
    max-width: 1200px;
    height: 506px;
  }

  .photo-list__item {
    width: 320px;
    flex: 0 1 auto;
    margin: 0 0 20px;

    &--of-day {
      width: 960px;
    }
  }

  .photo-list {
    padding: 0;
    margin: 0 auto;
  }

  .photo-list__img {
    height: 400px;
    object-fit: cover;
  }

  .photo__panorama-label {
    margin-top: 53px;
  }

  .photo__description {
    width: 715px;
    padding: 34px 55px 26px 50px;
    margin-bottom: 62px;
  }
}
