.photo-list {
  margin: 0;
  padding: 0;
  margin-top: 40px;

  list-style: none;
}

.photo-list__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.photo-list__item {
  min-width: 280px;
  margin-bottom: 20px;
  padding: 0 10px;

  background-color: #f2f2f2;

  &--of-day {
    position: relative;

    padding-top: 15%;
  }
}

.photo-list__item--of-day > a {
  position: absolute;
  top: -45px;
  left: -15px;

  display: block;
  width: 100%;
}

.photo-list__item--of-day .photo__caption {
  padding-top: 120px;
}

.photo__date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.photo__caption {
  padding: 20px;

  line-height: 24px;
  color: #283645;
}

.photo__likes {
  display: block;
  position: relative;
  padding-left: 30px;

  font-size: 12px;
  text-decoration: none;
  color: #d43560;
  text-transform: uppercase;

  &::before {
    content: url("../../img/icon-heart.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 5px;
  }
}

.photo-description {
  margin: 0 auto;
  padding: 15px;

  text-align: center;
}

.photo__comment {
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 640px;
    max-width: 1160px;
    margin: 0 20px;
  }

  .photo-list__item {
    width: calc(50% - 40px);
    margin: 10px;

    &--of-day {
      min-width: 620px;
      margin: 0 auto;
    }

    &--of-day img {
      width: 660px;
      height: 509px;
    }
  }

  .photo-list__item--of-day .photo__caption {
    padding-top: 360px;
  }

  .photo-description {
    margin-bottom: 50px;
  }
}


@media (min-width: @desktop-width) {
  .photo-list__item--of-day img {
    width: 1200px;
    height: 506px;
  }

  .photo-list__item--of-day > a {
    left: -130px;
  }

  .photo-list__item {
    width: 300px;

    &--of-day {
      width: 940px;
    }
  }

  .photo-list {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
  }
}
