.photo-page__title {
  display: block;
  min-height: 130px;
  margin: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  line-height: 30px;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
}

.photo-page__description {
  margin: 0;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  text-align: center;
  line-height: 30px;
}
