.posting__form-wrapper {
  padding-top: 19px;

  background-color: #f2f2f2;
}

.posting__text {
  padding: 23px 23px 20px 21px;
  margin-bottom: 23px;

  color: #283645;
  text-align: center;
}

.posting__photo {
  padding: 0 10px;
  width: 100%;
  height: 374px;
  object-fit: cover;
}

.posting__tools {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}

.posting__item {
  width: 61px;
  height: 61px;
  margin: 0 10px;
  padding: 0;

  background-color: transparent;

  border: none;
}

.posting__button {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 15px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  background-color: #ffffff;
  border-radius: 35px;

  cursor: pointer;

  &--submit {
    color: #d22856;
    border: 3px solid #d22856;

    &:hover {
      background-color: #d22856;
      color: #ffffff;
    }

    &:active {
      background-color: #d22856;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--reset {
    color: rgba(40, 54, 69, 0.1);

    background-color: #f2f2f2;
    border: 3px solid #dddfe0;


    &:hover {
    border: 3px solid rgba(40, 54, 69, 0.3);
    color: rgba(40, 54, 69, 0.3);
  }

    &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: rgba(40, 54, 69, 0.3);
    border: rgba(40, 54, 69, 0.3);

  }
}
}

.posting__buttons {
  padding: 40px 0 30px;
  margin: 0 -10px;

  border-top: 1px solid #cccccc;
}

.posting__scale {
  position: relative;

  height: 2px;
  display: none;

  background-color: #000000;

  &--size {
    display: block;
  }
}

.posting__scrollbox {
  position: absolute;
  top: -6px;
  right: 34px;

  width: 14px;
  height: 14px;
  padding: 0;

  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #ffffff;

  cursor: pointer;

  &--active {
    background-color: #d22856;
  }
}

.posting__controls {
  width: 240px;
  margin: 30px auto;
}

.posting__item-icon {
  fill: #283645;
  opacity: 0.3;

  &--active {
    fill: #d22856;
    opacity: 1;
  }

  &:hover {
    fill: #283645;
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .posting__form {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 17px;
  }

  .posting__scale {
    display: block;
    width: 202px;
  }

  .posting__controls {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .posting__tools {
    flex-direction: column;

    margin-top: 0;
  }

  .posting__toggle {
    height: 30px;
    padding-left: 20px;
    padding-top: 36px;
    padding-bottom: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &--color {
      padding-bottom: 36px;
    }

    &--brightness {
      padding-bottom: 36px;
    }
  }

  .posting__form-wrapper {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 5px;
  }

  .posting__photo {
    width: 300px;
    height: 400px;
    padding: 0;
  }

  .posting__text {
    margin: 35px 0 48px 0;

    font-size: 18px;
  }

  .posting__item {
    width: 56px;
    height: 55px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &--color {
      height: 49px;
    }

    &--brightness {
      height: 49px;
    }
  }

  .posting__item-icon {
    fill: #d22856;
    opacity: 1;

    &--size {
      width: 22px;
      height: 22px;
    }

    &--color {
      width: 24px;
      height: 22px;
    }

    &--brightness {
      width: 16px;
      height: 16px;
    }
  }

  .posting__buttons {
    margin: 0;

    border: none;
  }

  .posting__filter {
    display: flex;
    margin-right: 0;
    margin-left: 20px;
  }

  .posting__scrollbox {
    &--color {
      left: 20px;
    }

    &--brightness {
      right: 110px;
    }
  }

  .posting__button {
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .posting__item {
    &::after {
      width: 410px;
    }
  }

  .posting__buttons {
    display: flex;
    margin-top: 40px;
  }

  .posting__button {
    width: 183px;

    &--submit {
      background-color: #f2f2f2;
      margin-right: 25px;
    }
  }

  .posting__form-wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  .posting__scale {
    width: 288px;
  }

  .posting__form {
    padding-left: 27px;
    padding-top: 55px;
    padding-right: 0;
  }

  .posting__filter {
    margin-left: 0;
    margin-right: 80px;
  }

  .posting__photo {
    padding: 0;
  }

  .posting__text {
    margin: 8px 0 48px
  }

  .posting__controls {
    width: 330px;
  }

  .posting__item-icon {
    fill: #d22856;
    opacity: 1;

    &--size {
      width: 44px;
      height: 44px;
    }

    &--color {
      width: 48px;
      height: 43px;
    }

    &--brightness {
      width: 32px;
      height: 32px;
    }
  }
}
