.posting__form {
  background-color: #f2f2f2;
}

.posting__text {
  padding: 0 20px;

  color: #283645;
  text-align: center;
}

.posting__photo {
  padding: 20px;
  width: 100%;
}

.posting__tools {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.posting__item {
  width: 70px;
  height: 70px;
  margin: 0 10px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &--size {
    background-image: url("../../img/icon-editor-crop.svg");
    background-size: 42px 50px;
  }

  &--color {
    background-image: url("../../img/icon-editor-fill.svg");
    background-size: 47px 50px;
  }

  &--brightness {
    background-image: url("../../img/icon-editor-contrast.svg");
    background-size: 36px 40px;
  }
}

.posting__button {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 15px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  background-color: #ffffff;
  border-radius: 35px;

  &--submit {
    color: #d22856;
    border: 3px solid #d22856;
  }

  &--reset {
    color: rgba(40, 54, 69, 0.1);

    background-color: #f2f2f2;
    border: 3px solid #dddfe0;
  }
}

.posting__buttons {
  padding-top: 40px;

  border-top: 1px solid #cccccc;
}

.posting__scale {
  position: relative;

  width: 240px;
  height: 2px;
  display: none;

  background-color: #000000;

  &--size {
    display: block;
    margin: 20px auto 30px;
  }
}

.posting__scrollbox {
  position: absolute;
  top: -6px;
  right: 40px;

  width: 14px;
  height: 14px;
  padding: 0;

  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .posting__form {
    display: flex;
  }

  .posting__scale {
    display: block;
    margin: 30px auto 37px;
    width: 202px;
  }

  .posting__controls {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
  }

  .posting__tools {
    flex-direction: column;
  }

  .posting__form-wrapper {
    padding-top: 40px;

    background-color: #f2f2f2;
  }

  .posting__photo {
    width: 300px;
    height: 400px;
  }

  .posting__item {
    position: relative;

    &--size {
      background-size: 22px 22px;
    }

    &--color {
      background-size: 24px 22px;
    }

    &--brightness {
      background-size: 16px 16px;
    }
  }

  .posting__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;

    width: 275px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .posting__buttons {
    margin-left: 40px;

    border: none;
  }

  .posting__filter {
    display: flex;
  }

  .posting__scrollbox {
    &--color {
      left: 20px;
    }

    &--brightness {
      right: 110px;
    }
  }

  .posting__button {
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .posting__item {
    &--size {
      background-size: 44px 44px;
    }

    &--color {
      background-size: 48px 43px;
    }

    &--brightness {
      background-size: 32px 32px;
    }

    &::after {
      width: 410px;
    }
  }

  .posting__buttons {
    display: flex;
    margin-top: 40px;
  }

  .posting__button {
    width: 183px;
    margin-left: 50px;
  }

  .posting__form-wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .posting__scale {
    width: 288px;
  }

  .posting__tools {
    margin-left: 50px;
  }
}
