.research {
  display: none;
}

.research__details {
  position: relative;

  display: flex;
}

.research__description {
  display: flex;
  flex-direction: column;
  margin-left: 68px;
  padding-top: 40px;

  line-height: 24px;
}

.research__title {
  width: 170px;
  margin: 0;

  font-size: 30px;
  line-height: 36px;
}

.research__text {
  min-width: 310px;
  margin: 0;
  padding: 9px 20px 12px 0;

  color: #283645;
  line-height: 24px;
}

.research__link {
  color: #d43560;
}

.research__hours {
  position: absolute;
  top: 58px;
  left: 30px;

  display: block;
  width: 200px;
  height: 200px;
  margin: 0;
  padding-top: 68px;
  padding-left: 30px;

  font-size: 96px;
  font-weight: bold;
  color: #d43560;

  border: 12px solid;
  border-radius: 50%;
}

.research__icon {
  fill: #dedede;
}

.research__timer {
  margin-left: 13px;
}

.research__wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    margin-top: 57px;
  }
}

@media (min-width: @desktop-width) {
  .research {
    display: block;
    width: 100%;
    margin-top: 0;
    padding-top: 65px;
    padding-bottom: 60px;

    background-color: #f2f2f2;
  }

  .research__title {
    width: 310px;
    padding-top: 90px;
  }

  .research__text,
  .research__link {
    font-size: 18px;
    line-height: 28px;
  }

  .research__wrapper {
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 65px;

    background-color: #f2f2f2;
  }

  .research__text {
    width: 580px;
    padding: 20px 0 36px 0;
  }

  .research__hours {
    top: 69px;
    left: 22px;

    width: 255px;
    height: 255px;
    padding-top: 88px;
    padding-left: 38px;

    font-size: 120px;

    border: 18px solid;
  }

  .research__icon {
    width: 298px;
    height: 345px;
  }

  .research__timer {
    margin-left: 0;
  }

  .research__description {
    margin-left: 64px;
  }
}
