.research {
  display: none;
  margin-top: 50px;
}

.research__description {
  margin-left: 60px;
  margin-right: 30px;
}

.research__picture {
  margin: 0 20px;
}

.research__title {
  font-size: 30px;
  line-height: 32px;
}

.research__text {
  color: #283645;
  line-height: 24px;
}

.research__link {
  color: #d43560;
}

@media (min-width: @tablet-width) {
  .research {
    display: flex;
    width: 625px;
    margin-left: auto;
    margin-right: auto;
  }

  .research__picture {
    width: 240px;
    height: 280px;
  }

  .research__title {
    width: 180px;
  }

  .research__description {
    min-width: 330px;
  }
}

@media (min-width: @desktop-width) {
  .research {
    display: flex;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .research__picture {
    width: 298px;
    height: 345px;
  }

  .research__title {
    width: 310px;
  }

  .research__description {
    max-width: 550px;
  }

  .research__text,
  .research__link {
    font-size: 18px;
    line-height: 28px;
  }
}
