.site-developer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  padding-top: 5px;
  padding-left: 65px;
}

.site-developer__text {
  display: block;
}

.site-developer__link {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 10px;

  background-image: url("../../img/htmlacademy.svg");
  background-repeat: no-repeat;
}
