.site-developer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}

.site-developer__text {
  display: block;
  margin-top: 10px;
}

.site-developer__link {
  display: block;
  width: 40px;
  height: 40px;

  background-image: url("../../img/htmlacademy.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .site-developer {
    min-width: 170px;
    margin: 0 auto;
  }
}
