.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.site-list__item {
  height: 65px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 820px;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    height: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
