.site-developer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  padding-top: 5px;
  padding-left: 65px;
}

.site-developer__text {
  display: block;
}

.site-developer__link {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.site-developer__icon {
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (max-width: @mobile-width-only) {
  .site-developer {
    padding-left: 11px;
    padding-top: 8px;
    margin-bottom: 30px;
  }
}
