.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 40px;

  list-style: none;
}


.social__link {
  display: block;
  margin-right: 20px;
  margin-top: 30px;

  border: 2px solid #e9ebec;
  border-radius: 50%;

  cursor: pointer;

  &--twitter {
    width: 40px;
    height: 40px;

    background-image: url("../../img/icon-twitter.svg");
    background-position: 11px 12px;
    background-repeat: no-repeat;
  }

  &--facebook {
    width: 40px;
    height: 40px;

    background-image: url("../../img/icon-facebook.svg");
    background-position: 14px 9px;
    background-repeat: no-repeat;
  }

  &--youtube {
    width: 40px;
    height: 40px;

    background-image: url("../../img/icon-youtube.svg");
    background-position: 14px 12px;
    background-repeat: no-repeat;
  }
}
