.tariff {
  margin-top: 132px;
}

.tariff__table {
  margin: 0 auto;

  border-collapse: collapse;
  table-layout: fixed;
}

.tariff__toggle {
  margin: 40px auto 37px;
}

.tariff__name {
  padding: 18px 30px;

  font-size: 18px;
  text-align: center;
  color: #ffffff;

  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.tariff__options {
  padding: 15px 25px;

  color: #283645;
  font-weight: normal;

  border: 2px solid #e5e5e5;
}

.tariff__function {
  display: none;
}


.tariff__cell {
  position: relative;

  padding: 14px 40px;

  border: 2px solid #e5e5e5;

  &--yes::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 20px;
    left: 250px;

    background-image: url("../../img/icon-yes.svg");
    background-repeat: no-repeat;
  }

  &--no::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 30px;
    top: 20px;
    left: 250px;

    background-image: url("../../img/icon-no.svg");
    background-repeat: no-repeat;
  }
}

.tariff__price {
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .tariff__options::after {
    display: none;
  }

  .tariff__table {
    width: 620px;
  }

  .tariff__name br {
    display: none;
  }

  .tariff__cell {

    &--yes::after {
      left: 65px;
    }

    &--no::after {
      left: 65px;
    }
  }

  .tariff__options {
    padding: 8px 16px;

    text-align: left;
  }

  .tariff__name {
    padding: 10px 15px;
  }
}

@media (min-width: @desktop-width) {
  .tariff__cell {

    &--yes::after {
      left: 120px;
    }

    &--no::after {
      left: 120px;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .tariff__table {
    width: 300%;

    text-transform: uppercase;
  }

  .tariff__table-wrapper {
    overflow: auto;
  }

  .tariff__cell {
    width: calc(100% - 44px);
  }

  .tariff__options {
    display: none;
  }

  .tariff__table td:first-child {
    display: none;
  }

  .tariff__function {
    display: block;
  }
}
