.tariff {
  margin-top: 132px;
}

.tariff__table {
  margin: 0 auto;

  border-collapse: collapse;
  table-layout: fixed;
}

.tariff__toggle span {
  display: none;
}

.tariff__name {
  padding: 18px 30px;

  font-size: 18px;
  text-align: center;
  color: #ffffff;

  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.tariff__options {
  padding: 15px 25px;

  color: #283645;
  font-weight: normal;

  border: 2px solid #e5e5e5;
}

.tariff__function {
  display: none;
}


.tariff__cell {
  padding: 14px 40px;

  border: 2px solid #e5e5e5;
}

.tariff__price {
  font-size: 24px;
  font-weight: 300;
}

.tariff__icon {
  display: block;
  margin: 0 auto;

  &--yes {
    fill: #3dc644;
  }

  &--no {
    fill: #f25b26;
  }
}

@media (min-width: @tablet-width) {
  .tariff__table {
    width: 620px;

    background-color: #ffffff;
  }

  .tariff__options {
    padding: 8px 16px;

    text-align: left;
  }

  .tariff__name {
    padding: 12px 20px 8px;

    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
  }

  .tariff__price {
    font-size: 18px;
  }

  .tariff__table-wrapper {
    padding: 100px 0;

    background-color: #f2f2f2;
  }

  .tariff__table td:first-child {
    background-color: #f2f2f2;
  }

  .tariff .toggle-list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tariff__cell {
    width: 200px;
    height: 59px;
  }

  .tariff__table {
    width: 960px;
  }
}

@media (max-width: @mobile-width-only) {
  .tariff__table {
    width: 100%;

    text-transform: uppercase;
  }

  .tariff__table-viewport {
    overflow: auto;
  }

  .tariff__table-wrapper {
    display: inline-block;
    width: calc(300% - 120px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .tariff__cell {
    position: relative;
    width: 100%;
  }

  .tariff__options {
    display: none;
  }

  .tariff__table td:first-child {
    display: none;
  }

  .tariff__function {
    display: inline;
  }

  .tariff__toggle {
    display: block;
    margin: 40px auto 37px;
  }

  .tariff .toggle-list {
    position: relative;
    left: 90%;
  }

  .tariff__icon {
    position: absolute;

    display: inline-block;

    right: 48px;
    top: 20px;
  }
}
