.toggle-list {
  width: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle__item {
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);

  cursor: pointer;

  &--active {
    width: 12px;
    height: 12px;

    background-color: #ffffff;
    border: 3px solid #000000;
  }
}
