.button {
  display: block;

  font-family: inherit;
  text-decoration: none;
}

.text-field {
  width: 100%;
  margin-right: 20px;
  padding: 15px;

  border: 1px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .text-field {
    margin-right: 0;
  }
}

.form-text {
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}
